body {
    background-color: whitesmoke;
    font-family: 'raleway';
}

/*** Header ***/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    color: white;
    background-color: #183962;
    margin: 2rem 0rem;
    padding: 0rem 1rem;
}

header .title {
    font-size: xx-large;
    margin-bottom: 0;
}

header > .denomination {
    flex-direction: column;
}

header > .denomination > h2 {
    color: white;
    margin-bottom: 0;
}

.myphoto {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: -1rem 1rem;
    border: solid 5px;
}

h2 {
    color: #183962;
}

/*** Content ***/
#content {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

#informations > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 1rem;
}

#langues p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#interets div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}

#interets .icon {
    width: 52px;
    height: 52px;
}
.card-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 1rem 1rem;
    padding: 1.5rem;
    width: 33%;
    text-align: center;
}

.card .icon {
    align-self: center;
    object-fit: scale-down;
    height: 100%;
    width: 60%;
    margin: 1rem;
}

.date-range {
    font-style: italic;
}

.title, .company {
    font-size: x-large;
}

.type, .tag {
    font-size: large;
    color: white;
    background-color: #183962;
    text-align: center;
    width: min-content;
    margin: 0 auto;
    padding: 3px 10px;
    border-radius: 5px;
}


/*
.experience {
    
}

.date-range {
    
}

.experience {

}

.experience .date-range {

}

.experience .type {

}

.experience .company {

}

.experience .title {

}

.experience .place {

}

.experience .tasks {

}

.experience .tags {

}

li > .tags, li > .skills {

}

.category {

}

*/