body {
    background-color: whitesmoke;
    font-family: 'raleway';
}

/*** Header ***/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    color: white;
    background-color: #183962;
    margin: 2rem 0rem;
    padding: 0rem 1rem;
}

header .title {
    font-size: xx-large;
    margin-bottom: 0;
}

header > .denomination {
    flex-direction: column;
}

header > .denomination > h2 {
    color: white;
    margin-bottom: 0;
}

.myphoto {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: -1rem 1rem;
    border: solid 5px;
}

h2 {
    color: #183962;
}

/*** Content ***/
#content {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

#informations > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}

#informations .icon {
    width: 26px;
    height: 26px;
    margin-right: 1rem;
}

#langues p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#langues .icon {
    width: 26px;
    height: 26px;
    margin-right: 1rem;
}

/*
.experience {
    
}

.date-range {
    
}

.experience {

}

.experience .date-range {

}

.experience .type {

}

.experience .company {

}

.experience .title {

}

.experience .place {

}

.experience .tasks {

}

.experience .tags {

}

li > .tags, li > .skills {

}

.category {

}

*/