body {
    background-color: black;
    font-family: 'raleway';
    color: whitesmoke;
}

.navbar {
    background-color: inherit;
    color: inherit;
}

.navbar a {
    color: inherit;     
}

#navbarNav {
    justify-content: center;
}