:root {
    --main-bg-color: black;
    --main-color: whitesmoke;
    --main-emphasize-color: #FCC38E;
    --navbar-height: 10vh;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: 'raleway';
}


.navbar {
    background-color: black;
    color: inherit;
    padding: 0;
    height: var(--navbar-height);
}

.navbar a {
    color: inherit;
    font-size: 18px;     
}

.navbar a:hover {
    color: var(--main-emphasize-color);
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;     
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 1rem;
    padding-left: 1rem;
}

#navbarNav {
    justify-content: center;
    background-color: var(--main-bg-color);
    opacity: 0.9;
}

section {
    padding-top: var(--navbar-height);
    height: 100vh;
}

h1 {
    font-size: 75px;
    font-weight: bolder;
    padding-top: 1%;
    padding-bottom: 3%;
}

h1 + p {
    font-size: 18px;
    padding-bottom: 3%;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.myphoto {
    width: 20rem;
    height: 20rem;
    margin: auto;
}

.text-emphasize {
    color: var(--main-emphasize-color);
}

.btn-primary {
    background-color: var(--main-emphasize-color);
    color: var(--main-bg-color);
    border: none;
}

#social {
    padding: 0;
    margin: 1rem 0;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
}


/* START Flipcard */
#flipcard-deck {
    justify-content: center;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    width: 375px;
    height: 420px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 1%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 3px solid var(--main-emphasize-color);
    border-radius: 8px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    width: 100%;
    height: 100%;
}

/* Style the back side */
.flip-card-back {
    background-color: var(--main-emphasize-color);
    color: var(--main-bg-color);
    transform: rotateY(180deg);
} 

  /* END Flipcards */

  .ligneFormation{
      padding-top:10%;
      padding-bottom:10%;
  }
  .borderBottom{
      border-bottom: 1px solid;
      border-color: var(--main-emphasize-color);
  }
  .diplome{
      font-size: 20px;
      font-weight: bolder;
  }
  .villeDiplome{
      font-style: italic;
      color:var(--main-emphasize-color)
  }

@media (min-width: 1200px) {
    .btn-primary{
    width:30%;
    padding: 2%;
    margin-bottom: 10%;
    }

    span.title {
        font-weight:bold;
        font-family:arial;
        color:transparent;
        font-size:100px;
        text-shadow: 2px 2px 2px var(--main-bg-color), 2px 2px 2px #FFF, 2px 2px 2px #FFF, 2px 2px 2px #FFF, 2px 2px 2px #FFF;
        bottom: 0;
        z-index: -1;
    }

}

/* @media (max-width: 1200px) { */

/*  TODO   */
@media (max-height: 900px) and (max-width: 900px){
    .flip-card {
        width: 275px;
        height: 320px;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
        margin-bottom: 5%;
    }

    section {
        padding-top: var(--navbar-height);
        height: auto;
    }
}

/* @media (max-width: 900px) { 
    section {
        padding-top: var(--navbar-height);
        height: auto;
    }
} */

@media (max-width: 576px) { 
    span.title {
    font-weight:bold;
    font-family:arial;
    color:transparent;
    font-size:50px;
    text-shadow: 2px 2px 2px var(--main-bg-color), 2px 2px 2px #FFF, 2px 2px 2px #FFF, 2px 2px 2px #FFF, 2px 2px 2px #FFF;
    bottom: 0;
    z-index: -1;
    text-align:center;
    }

    .myphoto {
        display: none;
    }

    .flip-card {
        width: 275px;
        height: 320px;
        perspective: 1000px;
        margin-bottom: 5%;
    }

    .title, .mobile-useless {
        display: none;
    }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}